html,body,h3,h1{
    margin:0;
    padding:0;
}

body{
    background-color: black;
}

.active{
    font-family: 'Roboto', sans-serif;
}

h2{
    color:white;
}

nav{
    width:100%;
    height:90px;
    padding-top:5px;
    padding-bottom:10px;
}

.logo{
    width: 200px;
    height: 150px;
    float:left;
    font-size:10px;
    padding-left:15px;
    padding-right:15px;
}

.stream{
    width:100%;
    height:50px;
    padding-left:15px;
    padding-right:15px;
    background-image: url("../assets/stream_logo_white.png");
    background-position: center;
    background-size:cover;
}

.nav-con{
    width:80%;
    height:40px;
    float:left;
    margin-top:10px;
}

.nav-con ul{
    list-style:none;
}

.nav-con li{
    float:left;
    height:30px;
    border-radius:5px;
    font-size:15px;
    color:white;
    padding-left:20px;
    padding-right:20px;
    margin-right:10px;
    margin-left:10px;
    padding-top:8px;
    padding-bottom:8px;
    
}

.nav-con li:hover{
 background-color:black;
    color:white;
    cursor:pointer;
}

.search-bar{
    width:50px;
    height:35px;
    float:right;
    border-radius:60%;
    padding-top:15px;
    margin-top:5px;
    margin-bottom:15px;
}


h2{
    font-size:25px;
    padding-left: 35px;
    padding-top:25px;
}

header{
    width:100%;
    height:600px;
    color:black;
    text-align:left;
    background-image: url("../assets/586413-revisited-dreams-vol-1-acoustic.jpg");
    background-size: cover;
    background-position: center;
    padding-left:10%;
    padding-right:10%;
    padding-top:80px;
   
}

header h1{
    padding-bottom:50px;
    color:white;
}

header h2{
    color:white;
}

.col-1{
    width:100%;
    height:80px;
    padding-top: 10px;
    background-color: white;
    border-bottom-style:groove;
    border-bottom-color: black;
}

.col-1 ul{
    list-style:none;
}

.col-1 li{
    height:30px;
    float:left;
    color:black;
    padding-left:2%;
    padding-right:2%;
    margin-right:10px;
    margin-left:10px;
    padding-top:8px;
    padding-bottom:8px;
}

.col-2{
    width:100%;
    height:80px;
    padding-top: 10px;
    background-color: white;
    border-bottom-style:groove;
    border-bottom-color: black;
}

.col-2 ul{
    list-style:none;
}

.col-2 li{
    height:30px;
    float:left;
    color:black;
    padding-left:2%;
    padding-right:2%;
    margin-right:10px;
    margin-left:10px;
    padding-top:8px;
    padding-bottom:8px;
}

.col-3{
    width: 330px;
    height:300px;
    background-color: black;
    text-align:center;
    margin-left:2%;
    margin-right:2%;
    margin-top:2%;
    margin-bottom:2%;
}

.col-4{
    width:40%;
    height:600px;
    float:left;
    margin:2%;
    text-align:center;
    background-image: url("../assets/ab67616d0000b27382f7a1b5007d708c8838de25.jpeg");
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10%;
}

.col-4 h1{
    font-size:80px;
}

.play-logo{
    width: 100px;
    height: 100px;
    margin-left:40%;
}

.col-5{
    width:100%;
    height:70px;
    background-color: white;
    border-bottom-style:groove;
    border-bottom-color: black;
}

.col-5 ul{
    list-style:none;
}

.col-5 li{
    height:30px;
    float:left;
    color:black;
    padding-left:5%;
    padding-right:8%;
    margin-right:10px;
    margin-left:10px;
    padding-top:8px;
    padding-bottom:8px;
}

.col-6{
    width:44%;
    height:500px;
    text-align:center;
    margin-left:2%;
    margin-bottom:3%;
    float:left;
}

.col-6 p{
    padding-left:20px;
    padding-right:20px;
}

.col-8{
    width:50%;
    height:500px;
    margin:2%;
    float:right;
}

.col-12{
    height:100px;
}

.col-12 p{
    font-size:10px;
}

.col-box{
    width:65%;
    height:500px;
    background-color: gray;
    padding-left:72px;
    padding-right:8%;
    float:left;
    text-align:left;
}

.col-box p{
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-left: 10%;
    padding-right:10%;
    padding-top: 50px;
    padding-bottom:50px;
}

.contact{
    width: 100%;
    height:50px;
    margin-top:1%;
}

.email-icon{
    float:left;
}

.email-info{
    float:left;
}

.phone-icon{
    float:left;
}

.phone-info{
    float:left;
}

.map-block{
    width:70%;
    height:150px;
}

.col-box2{
    width:500px;
    height:300px;
    background-color: lightgray;
    text-align:left;
    margin-left:5%;
    margin-top:25px;
}

.col-box3{
    width:70%;
    height: 300px;
    background-color: grey;
    float:right;
    margin-top:-10px;
    margin-bottom:-60px;
    margin-right:600px;
}

.col-box4{
    width:100%;
    height:500px;
    float:right;
    text-align:center;
    background-color: rgb(103, 32, 32);
    margin-top:-60px;
    margin-bottom:-70px;
    margin-right:180px;
}

.col-box4 h2{
    margin-bottom:2%;
    
}

.col-box4 h1{
    margin-bottom:5%;
    
}

.col-box4 p{
    font-size:20px;
    text-align: right;
    padding-left:12%;
    padding-right: 12%;
    float:right;
}

.album-text{
    width:80%;
    height:450px;
    color:white;
    margin-top:-200px;
    margin-bottom: 15%;
    margin-right:5%;
    float: right;
}

.col-box5{
    width:100%;
    height:50px;
    background-color: lightgray;
}

.album-one{
    width:100%;
    height:100%;
    background-image: url("../assets/264x264Viper.jpeg");
    background-size: cover;
    background-position: center;
}

.album-two{
    width:100%;
    height:100%;
    background-image: url("../assets/264x264Derivakat.jpeg");
    background-size: cover;
    background-position: center;
}

.album-three{
    width:100%;
    height:300px;
    background-image: url("../assets/California_Dreaming.png");
    background-size: cover;
    background-position: center;
}

.album-four{
    width:100%;
    height:300px;
    background-image: url("../assets/au_ra-panic-room-cover-art.jpg");
    background-size: cover;
    background-position: center;
}

.album-five{
    width:100%;
    height:300px;
    background-image: url("../assets/ab67616d0000b27305e5dcfed62d4516d1d54581.jpeg");
    background-size: cover;
    background-position: center;
    
}

.album-six{
    width:100%;
    height:300px;
    background-image: url("../assets/264x264Sleeping@Last.jpeg");
    background-size: cover;
    background-position: center;
}

.album-seven{
    width:100%;
    height:300px;
    background-image: url("../assets/264x264.jpg");
    background-size: cover;
    background-position: center;
}

.album-eight{
    width:100%;
    height:300px;  
    background-image: url("../assets/artworks-N6df8xvMky7j-0-t500x500.jpg");
    background-size: cover;
    background-position: center;
}

.album-nine{
    width:100%;
    height:300px;
    background-image: url("../assets/ab67616d0000b27334702dd79ebdfb24ffbefb53.jpeg");
    background-size: cover;
    background-position: center;
}

.album-ten{
    width:100%;
    height:300px;  
    background-image: url("../assets/ab67616d0000b273f45d322f292c02c79d789d43.jpeg");
    background-size: cover;
    background-position: center;
}

.album-eleven{
    width:100%;
    height:300px;
    background-image: url("../assets/500x500.jpg");
    background-size: cover;
    background-position: center;
}

.album-twelve{
    width:100%;
    height:300px; 
    background-image: url("../assets/Unknown.jpeg");
    background-size: cover;
    background-position: center;
}

form{
    width:45%;
    height:500px;
    float:right;
    color:white;
    background-color: rgb(84, 121, 200);
    text-align: center;
    padding-bottom:5px;
    border-radius:15px;
    margin-top: -70%;
    margin-right: -25%;
}

label{
    width:80px;
    height:50px;
    padding-top:25px;
    padding-bottom: 20px;
    margin:2%;
    text-align: left;
}

form h3{
    color:black;
}

select{
    width:80%;
    height:83px;
}

textarea{
    width:300px;
    height:80px;
    border-radius: 50px;
    text-align:left;
    padding-top: 5px;
    padding-left:9%;
    padding-right:9%;
    margin: 4%;
}

input{
    width:250px;
    height:36px;
    border-radius: 25px;
    padding-left:10%;
    padding-right:10%;
    margin:1%;
    text-align: center;
}

.Your-Name{
    width:250px;
    height:100px;
    background-color: gray;
    border-radius:15px;
    padding-left:5%;
    padding-right:5%;
    padding-top:15px;
    padding-bottom:15px;
    text-align:left;
}

.Your-Email{
    width:250px;
    height:100px;
    background-color: gray;
    border-radius:15px;
    padding-left:10%;
    padding-right:10%;
    padding-top:15px;
    padding-bottom:15px;
    margin:2%;
    text-align:left;
}

button{
    width:150px;
    height:70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 30px;
    background-color: black;
    border-color: black;
    color:white;
    margin:2%;
    
}

button:hover{
    background-color: white;
    color:black;
    border-color: black;
}

.submit{
    width:100px;
    height:120px;
    padding-left:10%;
    padding-right:10%;
}

footer{
    width:83%;
    height:100px;
    background-color:black;
    text-align:left;
    padding-left:5%;
    padding-right:5%;
    margin-top:10%;
    color:white;
    font-size:25px;
}

footer p{
    width:200px;
    height:100px;
}

.col-12 p{
    font-size:20px;
    padding-top:20px;
}

.btn-two{
    width:200px;
    height:35px;
    background-color: red;
    border:10px solid red;
    border-radius: 5px;
    text-align:center;
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    margin-bottom: 15px;
    font-weight: bold;
    float:left;
}

.btn-two:hover{
    cursor:pointer;
    padding-top:10px;
    border:2px solid;
    background-color: white;
    color:black;
}

.btn-one{
    width:200px;
    height:35px;
    background-color: lightgray;
    border:2px solid black;
    border-radius: 5px;
    text-align:center;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    color: black;
    margin-left:3%;
    margin-bottom: 15px;
    font-weight: bold;
    float:left;
}

.btn-one:hover{
    cursor:pointer;
    border:2px solid;
    background-color: black;
    color:white;
}

.btn-three{
    padding-left:35%;
    padding-bottom: 50px;
}

.btn-four{
    width:70px;
    height:70px;
    padding-top:10px;
    padding-left:10px;
    border-radius: 50%;
    border-color: black;
    color:white;
}

.btn-five{
    width:250px;
    height:200px;
    float:right;
    margin-top: 10%;
    margin-bottom: 2%;
}


.pop-up{
    width:100%;
    height:100px;
    background-color: gray;
    padding-top: 1%;
    margin-block: 50%;

}

.pop-text p{
    width:100%;
    font-size:25px;
    color:white;
}

.pop-text h3{
    width:100%;
    font-size:20px;
    color:white;
}

.pop-text{
    width:60%;
    height:100px;
}

.btn-heart{
    width:40%;
    height:50px;
    margin-top: -80px;
    float:right;
}

.social-media{
    width:250px;
    height:40px;
    margin-top:10px;
    margin-bottom:10px;
    float:right;
}

.social{
    float:right;
    padding-left: 5px;
    padding-right: 5px;
}

.social:hover{
    background-color: black;
    color:white;
    cursor:pointer;
}

.player-line{
    width: 90%;
    height:50px;
    margin-top: 1%;
    margin-left:2%;
}

.line{
    width:100%;
    height:3px;
    background-color: white;
}

.inner-line{
    height:5px;
    width:30%;
    background-color: crimson;
}

.marker{
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: crimson;
    margin-left: 30%;
    margin-top: -12px;
}

.playlist{
    width:100%;
    height:150px;
    text-align:center;
}

.current-play{
    width:100%;
    height:300px;
    margin-top: 50px;
}

.current-play h3{
    font-size:25px;
}

.current-play p{
    font-size:15px;
}

.album-play{
    width:80px;
    height:80px;
    background-image: url("../assets/ab67616d0000b27382f7a1b5007d708c8838de25.jpeg");
    background-size: cover;
    background-position: center;
}

.album-extra{
    width:150px;
    height:50px;
    font-size: 40px;
    color:white;
    float:right;
    margin-right: 20%;
    margin-top: 2%;
}

.extra{
    color:white;
}

.album-play2{
    width:50px;
    height:50px;
    padding-left: 40%;
    padding-top:60px;
}

.bottom-play{
    width:100%;
    height:200px;
    margin-top:-10%;
    margin-left:2%;
}

.play-info{
    float:left;
}

.play-info2{
    float:left;
    color:white;
    margin:1%;
}

.play-list{
    width:100%;
    float:left;
}

.graph-icon{
    width:50px;
    height:50px;
    background-image: url("../assets/images.png");
    background-size: cover;
    background-position: center;
}

